@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Permanent+Marker|Stylish&display=swap");

body {
	font-family: "Baloo Bhai", cursive !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: no-repeat center center fixed
		linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
